POSTGRES_USER=migrant_user
POSTGRES_PASSWORD=migrant_password
POSTGRES_DB=migrant_review_db

DATABASE_URL=postgresql://migrant_user:migrant_password@localhost:5432/migrant_review_db
NEXT_PUBLIC_API_URL=http://localhost:3000/

ADMIN_KEY=your-admin-key